{{#each this}}
<div class="country-info__card">
   <div class="country-info__card-header">
      <img class="country-info__img" src="{{flags.svg}}" alt="{{name.official}}"/>
      <h2>{{name.official}}</h2>
   </div>
   <p><span class="country-info__data">Capital:</span> {{capital}}</p>
   <p><span class="country-info__data">Population:</span> {{population}}</p>
   <p><span class="country-info__data">Languages:</span>{{#each languages}}{{this}}{{/each}}</p>
</div>
{{/each}}